
#root {
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    width: 90%;
}
ul li {
    padding: 10px;
    border: 1px solid;
}

ul li button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.search {
    margin: 10px 0;
}

input, button {
    height: 40px;
    margin: 0 5px;
}
button {
    height: 45px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 4px;
}